javaStart/.idea/codeStyles/codeStyleConfig.xml
javaStart/.idea/codeStyles/Project.xml
*.class
javaStart/javaStart.iml
javaStart/.idea/vcs.xml
javaStart/.idea/modules.xml
javaStart/.idea/misc.xml
javaStart/.idea/.gitignore
javaStart/.idea/description.html
javaStart/.idea/project-template.xml
javaStart/.idea/runConfigurations.xml
